.git
.DS_Store
*.log
.ipynb_checkpoints
**/data/**
**/home/**
!*.gitkeep
*.pem
*.csr
*.crt
cluster-keys.json
**/_tools/consul
**/_tools/cfssl
**/_tools/cfssljson
**/cert-manager-pki_*/*.yaml
payload-*.json
test-*.json
GOSSIP_ENCRYPTION_KEY.txt
